[submodule "dfhack"]
	path = dfhack
    url = https://github.com/DFHack/dfhack.git
    ignore = dirty
[submodule "twbt"]
	path = twbt
    url = https://github.com/mifki/df-twbt.git
    ignore = dirty
[submodule "dfgraphics"]
	path = dfgraphics
	url = https://github.com/DFgraphics/DFgraphics.git
[submodule "sparkle"]
	path = sparkle
    url = https://github.com/sparkle-project/Sparkle.git
    ignore = dirty
